.borderless {
  border: none;
}

.root {
  --expandable-cards-background-color: #fff;
  --expandable-cards-color: #333;
  --expandable-cards-border-color: transparent;
  --expandable-cards-card-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  --expandable-cards-card-shadow-active: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3), 0 0 0.75rem rgba(0, 0, 0, 0.6);
  --expandable-cards-tab-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24);
  --expandable-cards-tab-shadow-active: 0 0.6875rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.4375rem 0.375rem rgba(0, 0, 0, 0.23);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -0.375rem;

  @media (min-width: 40rem) {
    padding-bottom: 2.5rem;
  }

  // Phase 1 (Mobile) [except Odyssey]
  :global(.embed-wysiwyg.richtext:not(.u-pull)) > & {
    margin: 0 -0.95rem;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  & > * {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0.375rem;
    font-weight: normal;
  }
}

:global(.supports-user-dark-mode) .root {
  @media screen and (prefers-color-scheme: dark) {
    --expandable-cards-background-color: #1E2124;
    --expandable-cards-color: #fff;
    --expandable-cards-border-color: #555;  ///todo probably delete
    --expandable-cards-card-shadow: 0px 0px 1px 1px rgba(200, 200, 200, 0.4);
    --expandable-cards-card-shadow-active: 0px 0px 1px 1px rgba(200, 200, 200, 0.4), 0 0 6px 1px rgba(200,200,200, 0.6);
    --expandable-cards-tab-shadow: 0 0.125rem 0.1875rem rgba(140, 140, 140, 0.12), 0 0.125rem 0.125rem rgba(140, 140, 140, 0.24);
    --expandable-cards-tab-shadow-active: 0 0.6875rem 1.25rem rgba(140, 140, 140, 0.19), 0 0.4375rem 0.375rem rgba(140, 140, 140, 0.23);
  }
}