.root {
  overflow: hidden;
  margin: 0 0.625rem;
  font-family: ABCSans, Helvetica, Arial, sans-serif;

  @media (min-width: 40rem) {
    opacity: 0;
    transform: translate(0, -1.5rem);
    position: relative;
    top: -3.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -1.5rem;
    transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
      height 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    > div {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 2.5rem;
    }
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.open {
  @media (min-width: 40rem) {
    opacity: 1;
    transform: none;
  }
}

.content {
  padding: 1rem 0 1.25rem;

  @media (min-width: 40rem) {
    padding: 5rem 2.5rem 4.5rem;
  }
  & > :first-child {
    margin-top: 0 !important;
  }

  & > :last-child {
    margin-bottom: 0 !important;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
