$transitionShadow: box-shadow 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
$radius: 0.125rem;

// We want to use flexbox here so that the auto vertical margin on titles
// effectively centers them in rows of cards with variable #s of lines,
// however, a bug in IE's flexbox implementation  means that the cards'
// height is stretched to the natural height of its thumbnail image.
// To work around this, we only declare display: flex on all other
// browsers, using selector hacks (see below).

.card {
  overflow: visible;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  z-index: 1;
  margin: 0 0 2rem;
  border: none;
  border-radius: $radius;
  padding: 0.75rem 0.75rem 1.75rem;
  background-color: var(--expandable-cards-background-color, #fff);
  box-shadow: var(--expandable-cards-card-shadow);
  color: var(--expandable-cards-color, #333);
  font-family: ABCSans, sans-serif;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: $transitionShadow;
  min-height: 1px; // IE bugfix

  &:focus {
    outline: none;
    box-shadow: var(--expandable-cards-card-shadow-active);
  }

  &.open {
    border-radius: $radius $radius 0 0;
  }
}

.details {
  width: 100%;
}

.label {
  position: relative;
  margin: -0.75rem -0.75rem 0 -0.75rem;
  padding: 0.3125rem 0.5rem;
  border-radius: $radius $radius 0 0;
  background-color: var(--card-heading-bg, #000);
  color: var(--card-heading-text, #fff);
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.long {
  font-size: 0.6875rem;
}

.title {
  // !important === ABC News CSS override
  margin: auto -0.25rem !important;
  padding-top: 0.5rem;
  font-size: 1.125rem !important;
  font-weight: normal !important;
  line-height: 1.3;
  min-height: 3.5em;
  height: auto;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:first-child {
    margin-top: 0 !important;

    .siblingsHaveLabels > & {
      margin-top: 1.75rem !important;
    }
  }

  & > span {
    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }
}

figure {
  &:first-child {
    margin-top: 0 !important;

    .siblingsHaveLabels > & {
      margin-top: 1.75rem !important;
    }
  }
}

.toggle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 0 $radius $radius;
  border-top-width: 0;
  border-bottom: 2px solid transparent;
  transition: background-color 0.125s, bottom 0.25s, $transitionShadow;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    border-radius: 50%;
    margin-left: -1rem;
    width: 2rem;
    height: 2rem;
  }

  &::before {
    z-index: -1;
    box-shadow: var(--expandable-cards-tab-shadow);

    .root:focus & {
      box-shadow: var(--expandable-cards-tab-shadow-active);
    }
  }

  &::after {
    content: '╲╱';
    font-size: 8px;
    line-height: 4; /* IE can't do rem unit line-height on pseudo elements */
    background-color: var(--card-heading-bg, #000);
    color: var(--card-heading-text, #fff);
    text-shadow: 0 -1px 0 var(--card-heading-text, #fff), 0 -0.5px 0 var(--card-heading-text, #fff),
      0 0.5px 0 var(--card-heading-text, #fff), 0 1px 0 var(--card-heading-text, #fff);
  }

  .open & {
    background-color: var(--card-heading-bg, #000);

    &::before {
      box-shadow: var(--expandable-cards-tab-shadow);
    }

    &::after {
      content: '╱╲';
      transition: background-color 0.25s, background-image 0.25s;
    }
  }

  .open:focus & {

    &::before {
      box-shadow: var(--expandable-cards-tab-shadow-active);
    }
  }
}

.of1 {
  width: 100%;
}

.of2 {
  width: 50%;
}

.of3 {
  width: 33.33%;
}

.of4 {
  width: 25%;
}

.of5 {
  width: 20%;
}

.of6 {
  width: 16.66%;
}
