$bg: #fff;
$bgActiveFallback: #000;
$textActiveFallback: #fff;
$shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
$tabShadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24);
$shadowActive: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3), 0 0 0.75rem rgba(0, 0, 0, 0.6);
$tabShadowActive: 0 0.6875rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.4375rem 0.375rem rgba(0, 0, 0, 0.23);
$transitionShadow: box-shadow 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
$radius: 0.125rem;

// We want to use flexbox here so that the auto vertical margin on titles
// effectively centers them in rows of cards with variable #s of lines,
// however, a bug in IE's flexbox implementation  means that the cards'
// height is stretched to the natural height of its thumbnail image.
// To work around this, we only declare display: flex on all other
// browsers, using selector hacks (see below).
.root {
  overflow: visible;
  /* display: flex; */
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: stretch;
  -webkit-align-items: stretch;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  position: relative;
  z-index: 1;
  margin: 0 0 2rem;
  border: 0;
  border-radius: $radius;
  padding: 0.75rem 0.75rem 1.75rem;
  background-color: $bg;
  box-shadow: $shadow;
  color: #333;
  font-family: ABCSans, sans-serif;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: $transitionShadow;
  min-height: 1px; // IE bugfix

  &:focus {
    outline: none;
    box-shadow: $shadowActive;
  }

  &.open {
    border-radius: $radius $radius 0 0;
  }
}
// Use flexbox on Chrome, Edge, Opera & Safari
@supports (-webkit-appearance: none) {
  .root {
    display: flex;
  }
}
// Use flexbox on Firefox
body:last-child .root,
x:-moz-any-link {
  display: flex;
}

.label {
  position: relative;
  margin: -0.75rem -0.75rem 0 -0.75rem;
  padding: 0.3125rem 0.5rem;
  border-radius: $radius $radius 0 0;
  background-color: $bgActiveFallback;
  color: #fff;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.long {
  font-size: 0.6875rem;
}

.image {
  margin: 0.5rem -0.25rem 0;

  @media (min-width: 40rem) {
    margin: 0.75rem 0 0;
  }

  &:first-child {
    margin-top: 0;

    .siblingsHaveLabels > & {
      margin-top: 1.5rem;

      @media (min-width: 40rem) {
        margin-top: 1.75rem;
      }
    }
  }

  & > img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
}

.title {
  // !important === ABC News CSS override
  margin: auto -0.25rem !important;
  padding-top: 0.5rem;
  font-size: 1.125rem !important;
  font-weight: normal !important;
  line-height: 1.3;
  min-height: 3.5em;
  height: auto;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:first-child {
    margin-top: 0 !important;

    .siblingsHaveLabels > & {
      margin-top: 1.75rem !important;
    }
  }

  & > span {
    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }
}

.toggle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 0 $radius $radius;
  border-top-width: 0;
  border-bottom: 2px solid transparent;
  transition: background-color 0.125s, bottom 0.25s, $transitionShadow;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    border-radius: 50%;
    margin-left: -1rem;
    width: 2rem;
    height: 2rem;
  }

  &::before {
    z-index: -1;
    box-shadow: $tabShadow;

    .root:focus & {
      box-shadow: $tabShadowActive;
    }
  }

  &::after {
    content: '╲╱';
    font-size: 8px;
    line-height: 4; /* IE can't do rem unit line-height on pseudo elements */
    background-color: $bgActiveFallback;
    background-color: var(--card-heading-bg);
    color: $textActiveFallback;
    color: var(--card-heading-text);
    text-shadow: 0 -1px 0 $textActiveFallback, 0 -0.5px 0 $textActiveFallback, 0 0.5px 0 $textActiveFallback,
      0 1px 0 $textActiveFallback;
    text-shadow: 0 -1px 0 var(--card-heading-text), 0 -0.5px 0 var(--card-heading-text),
      0 0.5px 0 var(--card-heading-text), 0 1px 0 var(--card-heading-text);
  }

  .open & {
    box-shadow: $shadow;
    transition: background-color 0.25s, bottom 0.25s, $transitionShadow;
    background-color: $bgActiveFallback;
    background-color: var(--card-heading-bg);

    &::before {
      box-shadow: $tabShadow;
    }

    &::after {
      content: '╱╲';
      transition: background-color 0.25s, background-image 0.25s;
    }
  }

  .open:focus & {
    box-shadow: $shadowActive;

    &::before {
      box-shadow: $tabShadowActive;
    }
  }
}

.filter {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}
